body {
  width: 250px;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #f4ede4;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-container h1 {
  font-family: "Instrument Serif";
  color: #550000;
  font-style: italic;
  margin: 10px;
  padding: 0;
}

.content-conainter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title-container img {
  height: 15px;
}

.instruction h2 {
  font-weight: 700;
  color: #8fc3d9;
  font-family: Montserrat;
  letter-spacing: 2px;
  font-size: small;
}

.palette-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.season {
  position: relative;
  overflow: hidden;
  background-color: #550000;
  height: 50px;
  width: 100%;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.season h3 {
  font-weight: 500;
  color: #8fc3d9;
  font-family: "Instrument Serif";
  font-style: italic;
  letter-spacing: 2px;
  font-size: medium;
  margin-left: 10px;
  z-index: 1;
}

.quality {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: #350101;
  color: #8fc3d9;
  transform: translateX(-100%);
  transition: transform 0.75s ease;
  z-index: 2;
}

.quality input {
  display: none;
}

.quality label {
  min-width: 63px;
  font-family: Montserrat;
  font-weight: 400;
  color: #2b1b14;
  background-color: #9b5a5a;
  letter-spacing: 2px;
  font-size: small;
  border: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.quality label:hover {
  background-color: #8fc3d9;
  color: #800202;
}

.quality input:checked + label {
  background-color: #8fc3d9;
  color: #800202;
}

.season:hover .quality {
  transform: translateX(0);
}

.enter-btn:disabled {
  background-color: #cdc7bf;
  color: #9c9a9a;
  font-family: "Instrument Serif";
  border: none;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-btn {
  margin: 10px 0px;
  background-color: #8fc3d9;
  color: #550000;
  font-family: "Instrument Serif";
  border: none;
}
